html {
  font-family: "Papyrus", "Herculanum", "Curlz MT", "Impact", fantasy;
}

body {
    margin: 0;
    background: #efe6d9;
}

header {
  background-color: yellow;
  padding: 1rem;
  color: green;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  justify-content: center;
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

header img {
    width: 15%;
    border-radius: 15px;
    box-shadow: 4px 4px 8px black;
}

.container {
    display: flex;
    min-height: calc(100vh - 200px);
}


main {
    flex: 1;
    overflow: hidden;
    padding: 1rem;
    background-color: yellowgreen;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 20px;
}

.status-panel {
    width: 26rem;
    background: yellowgreen;
    padding: 2rem;
    overflow-y: auto;
    color: blue;
    text-shadow: 2px 2px 10px gray;
}

.player-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 20px;
    background-color: floralwhite;
    border-radius: 15px;
    box-shadow: 3px 6px 6px #ccc;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.player-info img {
    width: 6rem;
    height: 6rem;
    border-radius: 75%;
    box-shadow: 3px 6px 6px #ccc;
    padding-left: 1rem;
}

.golden-balls {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
    background-color: floralwhite;
    border-radius: 15px;
    box-shadow: 3px 6px 6px #ccc;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-left: 0.5rem;
}

.snail-meter {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
    background-color: floralwhite;
    border-radius: 15px;
    box-shadow: 3px 6px 6px #ccc;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

.dice {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
    background-color: floralwhite;
    border-radius: 15px;
    box-shadow: 3px 6px 6px #ccc;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}


.message-box {
    height: 250px;
    overflow-y: auto;
    background: white;
    border: 1px solid #aaa;
    padding: .5rem;
    border-radius: 6px;
    box-shadow: 3px 6px 6px #ccc;
}

.airport {
    width: 18px;
    height: 18px;
    background: red;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    box-shadow: 0 0 5px black;
}

.airport:hover {
    transform: scale(1.2);
    background: yellow;
}

footer {
  background-color: yellow;
  text-align: center;
  padding: 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
    box-shadow: 4px 4px 8px black;

}

footer button {
  background-color: yellow;
  box-shadow: 2px 2px 4px black;
  font-family: "Papyrus", "Herculanum", "Curlz MT", "Impact", fantasy;
  color: green;
  padding: 15px 32px;
  text-align: center;
  text-shadow: 2px 2px 10px gray;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
footer button:hover {
    transform: scale(1.02);
    background-color: gold;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  z-index: 1000;
}


.popup-content {
  background: yellow;
  padding: 2rem;
  border-radius: 8px;
  width: 30rem;
  max-width: 90%;
  position: relative;
  box-shadow: 0px 0px 10px #00000055;
  animation: popupFade 0.3s ease-out;
}


.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

.popup-content h2 {
  text-align: center;
  color: blue;
  text-shadow: 2px 2px 10px gray;
  margin-top: 0;
}

.popup-content p {
  text-align: center;
  line-height: 1.6;
  font-size: 1.1rem;
  color: green;
  text-shadow: 2px 2px 10px gray;
}



